@font-face{
  font-family: Raisonne;
  src: url(../font/Raisonne_DemiBold.ttf);
}

@font-face{
  font-family: Akkurat;
  src: url(../font/Akkurat-Mono.OTF);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/*--------------------------- Colori------------------ */

$primary_color : #011627; 
$secondary_color : #2EC4B6;
$tertiary_color : #E71D36;
$fourthy_color : #757575;
$fifty_color : #FDFFFC;
$sixthy_color : #0E87BA;
$seventhy_color : #FF9F1C;

/*---------------------------------------------------- */
html,body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: Akkurat, Raisonne, Montserrat, sans-serif;
  scroll-behavior: smooth;
  background-color: $primary_color;
  overflow-x: hidden;
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 25px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 5;
    transition: background-color 0.4s ease-out;
}
nav a{
    font-family: Raisonne, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 38px;
    text-decoration: none;
    transition: 0.3s;

}
.nav_items a:hover{
    color: $tertiary_color !important;
}
.nav_items {
    align-self: center;
}

#logo_navbar {
  cursor: pointer;
}

.navbar_pagina a{
    color: $fourthy_color !important;
}
#pathh {
    transition: 0.3s;
}
#pathh:hover {
    fill: $seventhy_color;
}
/*Hero Pagina Home */
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary_color;
}

.hero h1{
    font-family: Raisonne, Akkurat, sans-serif;
    color: #fff;
    font-size: 144px;
    letter-spacing: 1px;
    margin: 0;
}
.sub_hero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.hero h2{
    font-family: Raisonne, Akkurat, sans-serif;
    color: #fff;
    font-size: 45px;
    letter-spacing: 6.5px;
    margin-top: -30px;
}

.stripes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.stripes svg{
  margin-bottom: 15px;
}
#stripe_2{
  position: relative;
  left: 50%;
}

.button{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  width: 250px;
}
.button button{
  width: 75px;
  height: 75px;
  padding: 18px ;
  border-radius: 90px;
  margin-left: 15px;
  background-color: transparent;
  border: white solid 3px; 
  transition: 0.3s;
}
.button svg {
  margin: 5px auto 0 auto;
}
.button p{
  margin: 0;
  font-family: Raisonne, Akkurat, sans-serif;
  font-size: 28px;
  color: #fff;
  letter-spacing: 0%;
  align-self: center;
  transition: 0.3s;
}
/*----- Hover Button Main ---------*/
.button:hover {
  cursor: pointer;
}

.button:hover button {
  background-color: #fff;
  cursor: pointer;
}

.button:hover button svg path{
  fill: $primary_color;
}


/* ---- FASCIA SERVIZI ---- */
.fascia_servizi{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titolo_servizi_index {
    font-family: Raisonne;
    color: $tertiary_color;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-top: 50px;
    letter-spacing: 10px;
    text-align: center;
}

.fascia_servizi h1{
  font-family: Raisonne;
  font-size: 60px;
  margin-top: 30px;
}

.servizio{
    width: 50%;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.servizio_inverso {
    flex-wrap: wrap-reverse;
}
.servizio img {
    flex: 1;
    margin: 40px auto 40px auto;
    align-self: center;
}
.testo{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title h4{
    font-family: Raisonne,sans-serif;
    margin: 0;
    font-size: 36px;
}

.testo p{
  color: $fourthy_color;
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.5;
  padding-top: 16px;
}

.testo button{
  font-family: Raisonne, sans-serif;
  font-size: 15px;
  color: #000;
  background: linear-gradient( to left, #ebebeb 50%, #2EC4B6 50% );
	background-size: 200% 100%;
	background-position: right bottom;
  border: none;
  width: 220px;
  height: 50px;
  margin-top: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.testo button:hover {
  background-position: left bottom;
  color: $fifty_color;
}


/*--------- Fascia BUILD OWN SHEEL --------------------------------*/
.fascia_shell {
    background-color: $secondary_color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.shell_row {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
}

.shell_row h5{
  margin-right: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: $secondary_color;
  font-size: 70px;
  -webkit-text-stroke-color: $primary_color;
  -webkit-text-stroke-width: 2.5px;
}
#row_center{
  -webkit-text-stroke-color: $tertiary_color;
  -webkit-text-stroke-width: 2.5px;
}

/*--------- Fascia Portfolio --------------------------------*/

.fascia_concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
#titolo_fascia_concept {
    margin: 50px auto 0 auto;
    font-family: Raisonne, Montserrat, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: $fifty_color;
}
.concept {
    margin: 50px auto;
    max-width: 75%;
    min-width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.concept_inverso {
  flex-wrap: wrap-reverse;
  
}
.concept img{
  max-width: 100%;
  min-width: 30%;
}
.concept_margin {
    margin-top: 150px;
}
.testo_concept {
    flex: 1;
    margin: auto 0;
    z-index: 2;
}
.inverso_testo_concept {
    flex: 1;
    text-align: end;
    padding: 0 0 0 50px;
}
#title_1{
  z-index: 1;
}

.testo_concept h4{
    font-family: Raisonne, sans-serif;
    letter-spacing: 1px;
    font-size: 140px;
    color: transparent;

}
.testo_concept p {
    font-size: 18px;
    color: #fff;
    opacity: 0;
}
.testo_concept_padding {
    padding: 0 50px 0 0;
}
.concept img{
  z-index: 1;
  width: 80%; 
  height: 100%; 
  object-fit: contain; 
  
}
.concept_testo_button {
    cursor: pointer;
    margin: 40px 0 40px 0;
    color: #fff;
    font-size: 17px;
    background: linear-gradient( to left, $secondary_color 50%, $tertiary_color 50% );
	  background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
}

.concept_testo_button:hover {
  background-position: left bottom;
  color: white;
}


/* ---------------------------- Footer ---------------------------- */

.footer {
    background-color: $secondary_color;
    font-family: Akkurat, sans-serif;
    padding-top: 100px;
}
.footer h3 {
    font-family: Raisonne;
    font-size: 4.6875rem;
    letter-spacing: -7px;
    color: #1E1E1E;
}
.footer h1 {
  font-family: Raisonne;
  font-size: 4.6875rem;
  letter-spacing: -7px;
  color: #1E1E1E;
}
.testo_contatto {
    display: flex;
    flex-direction: column;
}

.fascia_footer_upside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background: $secondary_color;
}
.form-contatto {
    max-width: 750px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form p {
    font-weight: bold;
    margin-top: 16px;
}

.input_field {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }

.input_field,
.msg {
    width: 100%;
}

.input {
    font-family: Akkurat, sans-serif;
    font-size: 15px;
    background: $secondary_color;
    width: 320px;
    color: black;
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black; 
}

.msg textarea {
    margin: 10px 10px;
    background: transparent;
    border: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    width: 90%;
    font-size: 18px;
    height: 150px;
}

::-webkit-input-placeholder {
  color: grey;
}

button {
  border: none;
  color: white;
  background: black;
  font-family: Raisonne, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 215px;
  height: 53px;
}

.form-contatto button{
  background: linear-gradient( to left, grey 50%, rgb(39, 39, 39) 50% );
	background-size: 200% 100%;
  background-position: right bottom;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.form-contatto button:hover {
  background-position: left bottom;
  color: white;
}

.fascia_footer_downside {
  margin: 100px 16px 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box_footer {
  padding: 10px;
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.footer_logo {
    border: 1px solid black;
}
.footer_logo img{
    max-width: 300px;
    min-width: 250px;
}
.footer_privacy {
    flex-direction: column;
    align-items: center;
    padding: 40px;   
    border: 1px solid black;
}
.footer_privacy a{
    color: #000;
    font-size: 20px;
    font-family: Raisonne, Akkurat, sans-serif;
    text-decoration: none;
    margin: 5px;
    align-self: flex-start;
}
.location{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #000;
    font-size: 28px;
    font-family: Raisonne, Akkurat, sans-serif;
    text-decoration: none;
    margin: 5px;
    align-self: flex-end;
}

.footer_social {
    flex-direction: row;
    align-items: center;
    padding: 50px;
    border: 1px solid black;
}

.footer_social a img:hover{
  transform: translateY(-5px);
}
.footer_social img{
    margin: 10px;
    transition: 0.3s;
}







/*----------  MEDIA QUERIES ------------*/













/* Media Query Smartphone */

@media screen and (max-width: 600px) {
/*---------- Navbar ----------*/
  #desktop_menu {
    display: none;
  }
  
  #mobile_menu {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #2EC4B6;
    transition: 0.3s;
  }
  #menu_logo {
    position: fixed;
    top: 15px;
    right: 15px;
  }
  #close_icon {
    align-self: flex-end;
    position: fixed;
    top: 25px;
    right: 20px;
  }
  #mobile_menu a{
    font-size: 1.5rem;
    margin: 15px auto;
  }

 /*--------- Main ----------- */ 
  .hero h1{
    font-size: 13vw;
    white-space: nowrap;
}

.hero h2{
    font-size: 6vw;
    letter-spacing: 1.5px;
    margin-top: 0;
}
.stripes {
    width: 150px;
    overflow: hidden;
}
/* ---------- Servizio ---------------*/
#titolo_servizi_index {
  font-size: 2.3rem;
  margin-top: 50px;
  letter-spacing: 10px;
}
.servizio img {
  align-self: center;
}
.servizio{
  width: 80%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
}
.testo{
  padding: 0;
}
.testo p{
  font-size: 1rem;
}
/*---------- Build own shell ---------*/
.shell_row h5 {
  font-size: 37px;
  -webkit-text-stroke-width: 1.5px;
}
#row_center{
  -webkit-text-stroke-color: $secondary_color;
  -webkit-text-stroke-width: 1px;
}

/*------------ Portfolio -------------*/
#titolo_fascia_concept{
  font-size: 3rem;
}

.inverso_testo_concept {
  text-align: left;
  padding: 0;
}

.testo_concept h1{
      font-size: 4rem;
  }

  .testo_concept p{
    font-size: 1rem;
    margin-top: 0px;
}



/*-------- Footer ---------*/

.form-contatto {
    max-width: 750px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .form-contatto button{
    background: linear-gradient( to left, grey 50%, rgb(39, 39, 39) 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 16px;
  }

  form p {
    margin-left: 16px;
  }

  .testi_contatto {
    margin-left: 16px;
  }

}


@media screen and (min-width: 600px) {
  #menu_logo {
    display: none;
  }

  #mobile_menu {
    display: none;
  }
}










/*----------- servizi.html---------- -----------------------------------*/

.body_servizi {
    background-color: $primary_color !important;
}

.fascia_servizio {
  margin-top: 150px;
  width: 100%;
}

#titolo_fascia_servizio{
  font-family: Raisonne, sans-serif;
  font-size: 3.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sezioni_servizio {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 80px;
  margin-bottom: 100px;
}

.sezione_servizio {
    flex: 1;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    -moz-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
}

.testo_sezione_servizio {
    padding: 15px 15px;
    background-color: #fff;
}
.sezioni_servizio svg{
    position: relative;
    left: 0px;
    top:  0px;
}
.sezione_servizio h4{
    font-family: Raisonne;
    font-size: 2.5rem;
}
.sezione_servizio p {
    padding-top: 16px;
    font-size: 1rem;
    line-height: 1.4;
}
.sezione_servizio img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}







/*----------------------- su_di_me.html ---------------------------------------*/
#body_about {
  background-color: $fifty_color;
}

.fascia_about_chi {
    padding-top: 150px;
}

.fascia_about_chi_interna {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sezioni_chi_sono {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sezione_testo_about_chi {
    width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.sezione_testo_about_chi img{
    background: #EAEAEA;
    width: 60%;
    margin-top: 32px;
    -webkit-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    -moz-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
}

.fascia_about_chi_interna h3{
    color: $tertiary_color;
    font-family: Raisonne, sans-serif;
    font-size: 3rem;
    letter-spacing: 6px;
}

.titolo_sezione_about {
    position: relative;
    left: 15%;
    width: 25%;
    color: $tertiary_color;
    font-family: Raisonne, sans-serif;
    font-size: 3rem;
    letter-spacing: 7px;
    margin-bottom: 50px;
}
.sezione_testo_about_chi h1{
    font-family: Raisonne, sans-serif;
    font-size: 2rem;
    color: $primary_color;
    letter-spacing: 2px;
}

.sezione_testo_about_chi p {
    margin-top: 16px;
    text-align: justify;
}



/* ------------------ Passione --------------------------------*/

#fascia_about_passione {
    padding-top: 200px;
}
.fascia_about_passione_interna {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sezioni_img_passione{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sezione_img_passione{
    flex: 1;
    align-self: stretch;
    margin: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.sezione_img_passione h4 {
    font-family: Raisonne, sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    color: $primary_color;
}
.sezione_img_passione p {
    margin-top: 16px;
    text-align: justify;
    line-height: 1.5;
}
.sezione_img_passione img{
    margin: 16px;
}

/* ------------------ Skill Set --------------------------------*/

.fascia_about_skill{
    padding-top: 200px;
    padding-bottom: 200px;
}
.fascia_about_skill_interna {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sezioni_about_skill{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 5px;
}
.sezione_about_skill {
    width: 100%;
    min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 24px auto;
    flex-wrap: nowrap;
}

.sezioni_about_skill img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.skill_data{
    margin-left: 16px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill_dati{
    font-family: Raisonne, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 16px;
}
.skill_dati h3{
    font-size: 2.15rem;
    letter-spacing: 1px;
    margin-right: 16px;
    color: $primary_color;
    white-space: nowrap;
}
.skill_dati h5{
    font-size: 1.25rem;
    color: $seventhy_color;
    margin: 0;
    white-space: nowrap;
}

.skill_dati h4{
    font-size: 2.75rem;
    color: #181918;
    margin: 0 0 0 32px;
    white-space: nowrap;
}


.progress_bar{
    margin: 8px 0 0 16px;
    width: 100%;
    height: 16px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 2px -2px 45px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 2px -2px 45px -2px rgba(0,0,0,0.49);
    box-shadow: 2px -2px 45px -2px rgba(0,0,0,0.49);
    }
.progress_bar_1{
    width: 80%;
    height: 16px;
    background: linear-gradient(90deg, $primary_color, $secondary_color );
    border-radius: 10px;
    -webkit-box-shadow: 3px 1px 51px -31px rgba(0,0,0,0.69);
    -moz-box-shadow: 3px 1px 51px -31px rgba(0,0,0,0.69);
    box-shadow: 3px 1px 51px -31px rgba(0,0,0,0.69);
}

.bar_90 {
  width: 90%;
}

.bar_80 {
  width: 80%;
}

.bar_70 {
  width: 70%;
}

.bar_60 {
  width: 60%;
}

.bar_0 {
  width: 0%;
}



.footer_contatti {
  padding-top: 200px;
  border: none
}





/* Policy Privacy */

.policy {
    background-color: $secondary_color !important;
}

.fascia_policy {
  margin-top: 150px;
  margin-left: 80px;
  line-height: 1.5;
}

.list_type{
    font-family: Raisonne, Arial, sans-serif;
    font-size: 1.75rem;
}


.policy h1 {
    font-family: Raisonne, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

.policy h3 {
    font-family: Raisonne, Arial, sans-serif;
    font-size: 2rem;
    margin-top: 32px;
    margin-bottom: 10px;
}
















/* MEDIA QUERIES ---- su_di_me.html */

@media screen and (max-width: 600px) {
  .fascia_about_chi_interna {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sezioni_chi_sono {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sezione_testo_about_chi {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.sezione_testo_about_chi img{
    background: #EAEAEA;
    width: 60%;
    margin-top: 32px;
    -webkit-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    -moz-box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
    box-shadow: 6px 55px 104px -10px rgba(0,0,0,0.46);
}

.fascia_about_chi_interna h3{
    color: $tertiary_color;
    font-family: Raisonne, sans-serif;
    font-size: 3rem;
    letter-spacing: 6px;
}

.titolo_sezione_about {
    position: relative;
    left: 15%;
    width: 25%;
    color: $tertiary_color;
    font-family: Raisonne, sans-serif;
    font-size: 3rem;
    letter-spacing: 7px;
    margin-bottom: 50px;
}
.sezione_testo_about_chi h1{
    font-family: Raisonne, sans-serif;
    font-size: 2rem;
    color: $primary_color;
    letter-spacing: 2px;
}

.sezione_testo_about_chi p {
    margin-top: 16px;
    text-align: left;
}



/* ------------------ Passione --------------------------------*/

#fascia_about_passione {
    padding-top: 200px;
}
.fascia_about_passione_interna {
    width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sezioni_img_passione{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sezione_img_passione {
    flex: 1;
    align-self: stretch;
    margin: 32px 28px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.sezione_img_passione h4 {
    font-family: Raisonne, sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    color: $primary_color;
}
.sezione_img_passione p {
    margin-top: 16px;
    text-align: left;
    line-height: 1.5;
}
.sezione_img_passione img{
    margin: 16px;
}

/* ------------------ Su di Me --------------------------------*/

.sezione_about_skill {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 24px 10px;
        flex-wrap: nowrap;
    }

.skill_img{
        width: 40px;
}

.fascia_about_skill_interna {
  width: 90%;
}

.sezioni_about_skill{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1;
}

.skill_dati h3{
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-right: 16px;
        color: $primary_color;
        white-space: nowrap;
}

.skill_dati h5{
        display: none;
}
    
.skill_dati h4{
        font-size: 2.15rem;
        color: #181918;
        margin: 0 0 0 0px;
        white-space: nowrap;
    }
}

